<h1>Nope,</h1>
<p>
  <%= @visitor_name %> isn't at hardtimes.
</p>
<br />
<br />
<br />
<%= form_tag(visitor_arrival_url(@visitor_name)) do |form| %>
  <%= submit_tag "Press if #{@visitor_name} has arrived." %>
<% end %>

