/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */

body {
  background-color: #222;
  color: #eee;
  font-size: 33px;
  font-family: Helvetica, Sans
}

input {
  font-size: 33px;
}

input[type=submit]:hover {
  cursor: pointer;
}


h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

#header a {
  text-decoration: none;
  color: #eee;
}

#header {
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  border-bottom: solid #eee 3px;
  margin: 20px auto;
  padding-bottom: 15px;
}

#middle {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#footer {
  background: #222 url('baphomet-pentagram.jpg') no-repeat center;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2;
}

a, a:visited {
  color: black;
}

form.search {
  margin-top: 40px;
}


