<!DOCTYPE html>
<html>
<head>
  <title>Hardtimes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header"><a href="/">@hardtimes?</a></div>

<div id="middle">
  <%= yield %>
</div>

</body>
</html>
